$font-style: italic;
$font-variant: normal;
$font-weight: 400;
$font-color: #A6A3A1;
$font-size: 12pt;
$font-family: covik-sans-mono, sans-serif;
$line-height: 1.2em;
$margin: 10px;
$light: #DCE0DE;
$med-grey: #C6CDD1;
$med-purple: #B8A9C2;
$dark: #735A7A;